* {
  margin: 0;
  padding: 0;
}

.webix_template .copyright {
  text-align: center;
}

.connected {
  text-align: center;
  font-size: 16px !important;
  color: #24a259 !important;
  background-color: #eee !important;

}

.fas {
  margin-right: 8px;
}

.border-top--hidden {
  border-top: none !important;
}

.bg--grey {
  background-color: #eee !important;
}
